.nav{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6rem;
}

#menu-icon{
    display: none;
}

.nav .links{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav .links a{
    color: var(--Dark-Grayish-Violet);
    transform: all 0.2s;
    font-weight: 700;
}

.nav .links a:hover{
    color: var(--Dark-violet);
}

.nav .links a:last-of-type{
    font-weight: 700;
    color: var(--Dark-violet);
    border: 2px solid;
    border-color: var(--Dark-violet);
    padding: 15px 30px;
}

.nav .links a:last-of-type:hover{
    color: white;
    background-color: var(--Dark-violet);
}



.hide-menu.nav{
    height: 100vh;
    width: 100vw;
    background-color: var(--Dark-violet);
    flex-direction: column;
}

.hide-menu.nav .links{
    background-color: var(--dark-violet);
    flex-direction: column;
    width: 100%;
}

@media(max-width:700px){
    .nav .links{
        display: none;
    }
    
    .nav{
        padding: 0 2rem;
    }

    #menu-icon{
        display: block;
    }


}